@import '../../styles/mixins.scss';

.projectArticle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 570px;
    width: 510px;
    border: solid 0.1px #efefef;
    @media (prefers-color-scheme: dark) {
        border: solid 0.1px #404040;
    }
    .projectCover {
        height: 50%;
        width: 100%;
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
    .projectContent {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: space-evenly;
        .projectText {
            margin: 10px;
        }
        .techContainer {
            display: flex;
            gap: 15px;
            margin: 10px;
        }
        .buttonContainer {
            margin: 10px;
            display: flex;
            gap: 15px;
        }
    }
}