.navigationSection{
    display: flex;
    width: 90vh;
    height: 50px;
    justify-content: space-between;
    background-color: aqua;
    position: absolute;
    z-index: 1;
    margin: 20px;
    .linkContainer{
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
}