@import '../../styles/mixins.scss';

.heroMainSection {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .heroContentContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 60%;
        width: 75%;
        max-width: 1000px;
        .heroContent {
            z-index: 1;
            h2 {
                @include primaryColor;
            }
        }
        .heroIllustration {
            position: relative;
            left: 20%;
            z-index: 0;
            width: 0px;
        }
    }
    .heroScroll {
        position: absolute;
        bottom: 40px;
        display: flex;
        flex-direction: column;
        span {
            font-weight: 500;
        }
        svg {
            height: 30px;
            color: #213547;
        }

        :hover {
            cursor: pointer;
            gap: 20px;
            transition: 0.25s;
        }
    }
}