@import '../../styles/mixins.scss';

.navigationSection{
    display: flex;
    width: 90%;
    max-width: 1500px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;

    position: absolute;
    z-index: 1;
    margin: 40px;
    .logo {
        color: $primaryFont;
        @include mainText;
        font-size: 3em;
        font-weight: 900;
        .logoDot {
            color: $primary;
        }
    }
    .linkContainer{
        display: flex;
        justify-content: center;
        gap: 2rem;
        span {
            font-size: 1.25em;
        }
    }
}
